<div id="featured">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2>Genera las invitaciones para tu evento rellenando el siguiente formulario.</h2>
					</header>
					<div class="form">
						<form action="/form" method="post">						
							<p>Nombre del Anfitrión
							<input type="text" name="whoinvites" placeholder="Nombre" required=true>
							</p>
							<p>Fecha del Evento
								<input type="text" name="eventdate" placeholder="Fecha" required=true>
							</p>
							<p>Lugar de Celebración
								<input type="text" name="eventplace" placeholder="Lugar" required=true>
							</p>
							<p>Nombre del Invitado
								<input type="text" name="guestname" placeholder="Invitado" required=true>
							</p>
							<p>Evento, Tipo de Evento
								<input type="text" name="event" placeholder="Evento..." required=true>
							</p>
							<center><input type="submit" class="button_class" value="Modelo"></center>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>