<div id="featured">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
						<h2>Desde aquí puedes generar las invitaciones para tu evento</h2>
						<h2>Rellena el Formulario</h2>
					</header>
					<form action="/form" method="post">
						<b>Who invited?:<input type="text" name="whoinvites" required=true></b><br>
						<b>When is it?:<input type="text" name="eventdate" required=true></b><br>
						<b>Where is the event?:<input type="text" name="eventplace" required=true></b><br>
						<b>Guest name:<input type="text" name="guestname" required=true></b><br>
						<b>Event:<input type="text" name="event" required=true><br>
						<input type="submit" value="To Card Model >>">
					</form>
				</section>
			</div>
		</div>
	</div>
</div>