<h2>Generador de Invitaciones</h2>
<form action="/page02" method="post">
	<b>Who invited?:<input type="text" name="who"></b><br>
	<b>When is it?:<input type="text" name="when"></b><br>
	<b>Where is the event?:<input type="text" name="where"></b><br>
	<b>Guest name:<input type="text" name="to_invite"></b><br>
	<b>Party topic:<input type="text" name="topic"><br>
	<input type="submit" value="Create">
</form>